.react-pdf-viewer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.react-pdf-viewer-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.react-pdf-viewer-info {
    display: flex;
    justify-content: center;
}

.react-pdf-viewer-document {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    padding-top: 10px;
    width: 100%;
}
